{{#if isEditing}}
    <td class="center-text">{{commentator.id}}</td>
    <td>
        <img src="{{commentator.avatarUrl}}" width="80" height="80" alt="{{commentator.avatarTitle}}"/>
    </td>
    <td>
        {{input value=commentator.name class="form-control"}}
    </td>
    <td>
        {{input value=commentator.email class="form-control"}}
    </td>
    <td>
        {{input value=commentator.website class="form-control"}}
    </td>
    <td>{{input type="checkbox" checked=commentator.isMale}}</td>
    <td>{{date-format commentator.createdAt 'DD.MM.YYYY, HH:mm'}}</td>
    <td>
        <div class="pull-right">
            <a class="btn btn-success" {{action "save"}}>
                <i class="glyphicon glyphicon-ok"></i>
                <span>save</span>
            </a>
            <button class="btn btn-warning btn-confirm" {{action "reset"}}>
                <i class="glyphicon glyphicon-remove"></i>
                <span>reset</span>
            </button>
        </div>
    </td>
{{else}}
    <td class="center-text">{{commentator.id}}</td>
    <td>
        <img src="{{commentator.avatarUrl}}" width="80" height="80" alt="{{commentator.avatarTitle}}"/>
    </td>
    <td>
        <strong>{{commentator.name}}</strong>
    </td>
    <td class="text-break-word">{{commentator.email}}</td>
    <td class="text-break-word">{{commentator.website}}</td>
    <td class="center-text text-gender">
        {{#if commentator.isMale}}
            <i class="glyphicon mars"></i>
        {{else}}
            <i class="glyphicon venus"></i>
        {{/if}}
    </td>
    <td>{{date-format commentator.createdAt 'DD.MM.YYYY, HH:mm'}}</td>
    <td>
        <div class="pull-right">
            <button class="btn btn-info" {{action "showUploader"}}>
                <i class="glyphicon glyphicon-user"></i>
                <span>avatar</span>
            </button>
            <a class="btn btn-primary" {{action "edit"}}>
                <i class="glyphicon glyphicon-pencil"></i>
                <span>edit</span>
            </a>
        </div>
    </td>
{{/if}}
