<td class="center-text">{{mediaFile.id}}</td>
<td class="center-text media-preview">
    {{media-preview mediaFile.src}}
</td>
<td class="text-break-word">{{mediaFile.originalFilename}}</td>
<td>
    {{mediaFile.size}}<br>
    <span class="resolution">{{mediaFile.width}}x{{mediaFile.height}}px</span>
</td>
{{#if isEditing}}
    <td>{{input value=mediaFile.description class="form-control"}}</td>
    <td>{{input value=mediaFile.postId class="form-control"}}</td>
    <td>{{input type="checkbox" checked=mediaFile.defaultImage}}</td>
{{else}}
    <td class="text-break-word">{{mediaFile.description}}</td>
    <td>
        {{#if mediaFile.postId}}
            {{mediaFile.postId}}.
            <a {{action "openTarget"}} class="force-pointer">
                {{cut-string mediaFile.post.title 24}}
            </a>
        {{/if}}
    </td>
    <td>
        {{#if mediaFile.defaultImage}}
            Да
        {{else}}
            -
        {{/if}}
    </td>
{{/if}}
<td class="text-right">{{date-format mediaFile.timeCreated 'DD.MM.YYYY, HH:mm'}}</td>
{{#if isEditing}}
    <td>
        <div class="pull-right">
            <a class="btn btn-success" {{action "save"}}>
                <i class="glyphicon glyphicon-ok"></i>
                <span>save</span>
            </a>
            <button class="btn btn-warning btn-confirm" {{action "reset"}}>
                <i class="glyphicon glyphicon-remove"></i>
                <span>reset</span>
            </button>
        </div>
    </td>
{{else}}
    <td>
        <div class="pull-right">
            <a class="btn btn-primary" {{action "edit"}}>
                <i class="glyphicon glyphicon-pencil"></i>
                <span>edit</span>
            </a>
            <button class="btn btn-danger btn-confirm" {{action "remove"}}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>delete</span>
            </button>
        </div>
    </td>
{{/if}}
