<td class="center-text">{{post.id}}</td>
<td>
    <a {{action "openTarget"}} class="force-pointer">
        {{post.title}}
    </a>
</td>
<td>{{post.category.name}}</td>
<td>
    {{#if post.hidden}}
        Да
    {{else}}
        -
    {{/if}}
</td>
<td class="text-right">{{date-format post.timeCreated 'DD.MM.YYYY, HH:mm'}}</td>
<td>
    <div class="pull-right">
        {{#link-to "postedit" post class="btn btn-primary"}}
            <i class="glyphicon glyphicon-pencil"></i>
            <span>edit</span>
        {{/link-to}}
        <button class="btn btn-danger btn-confirm" {{action "remove"}}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>delete</span>
        </button>
    </div>
</td>
