<div class="row main-container">
    <div class="col-md-1 col-lg-2 hidden-sm hidden-xs">
        <div id="sidebar">
            <div class="sidebar-nav">
                <ul class="nav">
                    <li class="first">
                        <span class="nav-header">
                            <span>Блог</span>
                        </span>
                        <ul class="nav menu_level_1">
                            <li class="first {{is-active currentLink "posts"}}">
                                {{#link-to "posts"}}
                                    <i class="glyphicon glyphicon-file"></i>
                                    <span>Записи</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "category"}}">
                                {{#link-to "category"}}
                                    <i class="glyphicon glyphicon-th-list"></i>
                                    <span>Категории</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "tags"}}">
                                {{#link-to "tags"}}
                                    <i class="glyphicon glyphicon-tag"></i>
                                    <span>Теги</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "images"}}">
                                {{#link-to "images"}}
                                    <i class="glyphicon glyphicon-picture"></i>
                                    <span>Картинки</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "languages"}}">
                                {{#link-to "pygmentsLanguages"}}
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <span>ЯП</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "code"}}">
                                {{#link-to "pygmentsCode"}}
                                    <i class="glyphicon glyphicon-duplicate"></i>
                                    <span>Код</span>
                                {{/link-to}}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="nav-header">
                            <span>Посетители</span>
                        </span>
                        <ul class="nav menu_level_1">
                            <li class="first {{is-active currentLink "comments"}}">
                                {{#link-to "comments"}}
                                    <i class="glyphicon glyphicon-comment"></i>
                                    <span>Комментарии</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "commentators"}}">
                                {{#link-to "commentators"}}
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>Комментаторы</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "tracking"}}">
                                {{#link-to "tracking"}}
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span>Трекинг</span>
                                {{/link-to}}
                            </li>
                            <li class="{{is-active currentLink "userAgents"}}">
                                {{#link-to "userAgent"}}
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span>User Agent</span>
                                {{/link-to}}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="nav-header">
                            <span>Телеграм</span>
                        </span>
                        <ul class="nav menu_level_1">
                            <li class="first {{is-active currentLink "telegramUsers"}}">
                                {{#link-to "telegramUser"}}
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>Отправители</span>
                                {{/link-to}}
                            </li>
                            <li class="first {{is-active currentLink "telegramUpdates"}}">
                                {{#link-to "telegramUpdate"}}
                                    <i class="glyphicon glyphicon-send"></i>
                                    <span>Сообщения</span>
                                {{/link-to}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-11 col-lg-10">
        {{outlet}}
    </div>
</div>
