<div id="topbar">
    <ol class="breadcrumb">
        <li>Записи</li>
    </ol>
</div>
<div id="content">
    <div id="flashes">
    </div>

    <div class="page-header">
        <h1><i class="glyphicon glyphicon-file"></i> Управление записями.</h1>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="center-text">#id</th>
            <th>Заголовок</th>
            <th>Категория</th>
            <th>Скрытие</th>
            <th class="text-right">Дата создания</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |post|}}
            <tr>
                <td class="center-text">{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.category.name}}</td>
                <td>
                    {{#if post.hidden}}
                        Да
                    {{else}}
                        -
                    {{/if}}
                </td>
                <td class="text-right">{{date-format post.timeCreated 'DD MMM YYYY, HH:mm'}}</td>
                <td>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="#">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span>edit</span>
                        </a>
                        <button class="btn btn-danger btn-confirm">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    {{paginator-list meta=model.meta routeName="posts"}}

    {{footer-partial}}
</div>
