<div class="row">
    <div class="col-xs-9">
        <ul class="pagination">
            {{#if meta.previous}}
                <li class="prev">
                    {{#link-to routeName (query-params page=meta.previous)}}&larr; Назад{{/link-to}}
                </li>
            {{else}}
                <li class="prev disabled"><span>&larr; Назад</span></li>
            {{/if}}

            {{#each pageLink in pageLinks}}
                {{#if pageLink.active}}
                    <li class="active"><span>{{pageLink.page}}</span></li>
                {{else}}
                    <li>
                        {{#link-to routeName (query-params page=pageLink.page)}}
                            {{pageLink.page}}
                        {{/link-to}}
                    </li>
                {{/if}}
            {{else}}
                <li class="disabled"><span>&hellip;</span></li>
            {{/each}}

            {{#if meta.next}}
                <li class="next">
                    {{#link-to routeName (query-params page=meta.next)}}Вперёд &rarr;{{/link-to}}
                </li>
            {{else}}
                <li class="next disabled"><span>Вперёд &rarr;</span></li>
            {{/if}}
        </ul>
    </div>
</div>
