<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

{% include 'mails/tableLogo.html.twig' %}

<div style="padding: 10px 0 0;font-family:'Consolas','Lucida Console',monospace;font-size:12pt;color:#000;">
    Кто-то ответил на ваш комментарий в записи &rarr;
    <a style="color: #008CD9;" href="{{ frontend_site }}{{ topicUrl }}">{{ topicTitle }}</a>
    <br/><br/>
    <table width="100%">
        <tr>
            <td style="padding: 0 35px 0 0; width: 80px">
                <img src="{{ frontend_site }}/images/avatar/{{ avatar }}" alt="avatar">
            </td>
            <td align="left">
                {{ username }}<br/>
                <q>{{ commentText }}</q>
            </td>
        </tr>
    </table>

    <hr style="color: #859C40;"/>
    Внимание, письмо отправлено роботом и отвечать на него не нужно, т.к. роботы писем не читают.
    <br/>Если вы не хотите получать на почту уведомления об ответах на ваши комментарии, можно <a style="color: #008CD9;" href="{{ frontend_site }}{{ unsubscribeLink }}">отписаться</a>
</div>
</body>
</html>
