<div id="flashes">
</div>

<div class="page-header">
    <div class="actions-menu">
        <a class="btn btn-primary" href="#"
            {{action "openModal"}}>
            <i class="glyphicon glyphicon-plus-sign"></i>
            <span>Создать категорию</span>
        </a>
    </div>
    <h1><i class="glyphicon glyphicon-th-list"></i> Управление категориями.</h1>
</div>

{{paginator-list meta=model.meta routeName='category.index'}}

<table class="table table-bordered">
    <thead>
    <tr>
        <th class="center-text">#id</th>
        <th>Категория</th>
        <th>Родитель</th>
        <th>slug</th>
        <th class="text-right">Количество записей</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each category in sortableCategory}}
        <tr>
            <td class="center-text">{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                {{#if category.parent}}
                    {{category.parent.name}}
                {{else}}
                    -
                {{/if}}
            </td>
            <td>{{category.url}}</td>
            <td class="text-right">-</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-primary" href="#">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>edit</span>
                    </a>
                    <button class="btn btn-danger btn-confirm">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>delete</span>
                    </button>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{paginator-list meta=model.meta routeName='category.index'}}

{{partial 'footer'}}

<div class="modal fade" id="modal_new_category" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        aria-label="Close"
                    {{action "closeModal"}}>
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Новая категория</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="category_field" class="control-label">Категория:</label>
                        <input id="category_field" class="form-control" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="category_parent" class="control-label">Родительская категория:</label>
                        <select class="form-control"
                                id="category_parent">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{#if enableNewCategoryButton}}
                    <button type="button"
                            class="btn btn-primary"
                        {{action "createCategory"}}>Создать</button>
                {{else}}
                    <button type="button"
                            class="btn btn-primary"
                            disabled="disabled">Создать</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
