<div id="flashes">
</div>

<div class="page-header">
    <h1><i class="glyphicon glyphicon-file"></i> Управление записями.</h1>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th class="center-text">#id</th>
        <th>Заголовок</th>
        <th>Категория</th>
        <th>Скрытие</th>
        <th class="text-right">Дата создания</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each post in model}}
        <tr>
            <td class="center-text">{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.category.name}}</td>
            <td>
                {{#if post.hidden}}
                    Да
                {{else}}
                    -
                {{/if}}
            </td>
            <td class="text-right">{{dateFormat post.timeCreated 'DD MMM YYYY, HH:mm'}}</td>
            <td class="center-text">
                <a class="btn btn-primary" href="#">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span>edit</span>
                </a>
                <button class="btn btn-danger btn-confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>delete</span>
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{partial 'footer'}}
