{% extends "::base.html.twig" %}

{% block meta %}
    <meta name="mtt-blog/config/environment" content="%7B%22modulePrefix%22%3A%22mtt-blog%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_TRANSITIONS%22%3Atrue%2C%22LOG_TRANSITIONS_INTERNAL%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%2C%22name%22%3A%22mtt-blog%22%2C%22version%22%3A%220.0.1+a8c1ef27%22%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-eval%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='?uglifycss' filter='cssrewrite'
        'bundles/mttblog/components/jquery-ui/themes/base/all.css'
        'bundles/mttblog/components/bootstrap/dist/css/bootstrap.css'
        'bundles/mttblog/css/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="navbar" class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/bundles/mttblog/img/logo.png" class="pull-left" />
                <span class="hidden-xs hidden-sm pull-left">Дашборд</span>
            </a>
        </div>
        <div class="visible-xs visible-sm"></div>
        <div class="hidden-xs hidden-sm pull-right">
            <p class="navbar-text">Превед{% if app.user %}, {{ app.user.username }}{% endif %}</p>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('logout') }}">
                        <i class="glyphicon glyphicon-off"></i> Выход
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row main-container" id="main-application">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var rest_url = '{{ path('mtt_blog_api_info') }}';
        var app_parameters = {
            api_url: rest_url.substr(1, rest_url.length - 2),
            image_basepath: '{{ image_basepath }}'
        };
    </script>
    {% javascripts filter='?uglifyjs2'
        'spa/assets/vendor.js'
        'bundles/mttblog/components/bootstrap/dist/js/bootstrap.js'
        'bundles/mttblog/components/moment/moment.js'
        'bundles/mttblog/components/moment/locale/ru.js'
        'bundles/mttblog/components/jquery-ui/ui/core.js'
        'bundles/mttblog/components/jquery-ui/ui/widget.js'
        'bundles/mttblog/components/jquery-ui/ui/position.js'
        'bundles/mttblog/components/jquery-ui/ui/autocomplete.js'
        'bundles/mttblog/components/jquery-ui/ui/menu.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        'spa/assets/mtt-blog.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        moment.locale('{{ app.request.locale }}');
    </script>
{% endblock %}
